.weather-app {
  max-width: 600px;
}

.weather-app-wrap {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/004/917/original/background.jpg?1612979722);
  background-size: cover;
  background-color: #ffffffa2;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 1px 3px 6px #8d8d8d;
  margin: 20px;
  max-width: 600px;
}
.search {
  margin: 20px;
}
.city-name {
  margin: 20px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  font-family: "Comfortaa", cursive;
}

#tempUnits {
  display: inline-flex;
}

h1 {
  margin: 20px;
  font-weight: 100;
  line-height: 1.5;
  font-family: "Yusei Magic", sans-serif;
  text-align: center;
}

h3 {
  font-weight: 100;
  font-size: 15px;
}

.form-control {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  width: 105%;
}

.btn {
  line-height: 1.6;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #00bcf2;
}
.btn:hover {
  background-color: #00bcf2;
  border: #00bcf2;
  color: #ffffff;
  transition: 1ms ease-in-out;
}

td,
th {
  padding-top: 8px;
  margin: 8px;
}

th {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

td {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

hr {
  margin: 0 auto;
  width: 85%;
  padding: 1px;
  background-color: #ffffff;
  opacity: 0.5;
  margin-top: 5px;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

#description {
  text-transform: capitalize;
}

.today-weather .active {
  color: rgb(0, 0, 0);
  cursor: default;
  font-weight: bold;
}

.today-weather.active:hover {
  text-decoration: none;
}

#time {
  color: #9babb9;
  font-weight: 100;
}

#city {
  font-weight: 200;
  font-size: 40px;
  margin: 0;
  text-transform: capitalize;
  font-family: "Comfortaa", cursive;
}

#temp-today {
  font-size: 60px;
  font-family: "Comfortaa", cursive;
}

.btn#current-location {
  line-height: 1.6;
  background-color: #00bcf2;
  border: 1px solid #00bcf2;
  color: #fff;
  padding: 6px 15px;
}
.btn#current-location:hover {
  background-color: #fff;
  border: #fff;
  color: #00bcf2;
  transition: 1ms ease-in-out;
}

#forecast {
  font-family: "Comfortaa", cursive;
  margin: 20px 10px 0px 10px;
}

#madeby {
  text-align: center;
  font-weight: lighter;
  font-size: 10px;
  color: #00bef2a4;
  margin: 0;
}
