.container {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/004/917/original/background.jpg?1612979722);
  background-size: cover;
  background-color: #ffffffa2;
  padding: 15px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 0;
  border-radius: 15px;
  box-shadow: 1px 3px 6px #8d8d8d;
  width: 45%;
}

h1 {
  margin: 20px;
  font-weight: 100;
  line-height: 1.5;
  font-family: "Yusei Magic", sans-serif;
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

li {
  display: inline;
  text-align: center;
  margin: 10px;
}

form {
  display: inline-block;
  width: 60%;
  margin-top: 20px;
  text-align: left;
}

.form-control {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.btn {
  line-height: 1.6;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #00bcf2;
  padding: 6px 15px;
  vertical-align: 0;
}
.btn:hover {
  background-color: #00bcf2;
  border: #00bcf2;
  color: #ffffff;
  transition: 1ms ease-in-out;
}

.table-borderless {
  margin: 0 auto;
}

th,
td {
  padding-top: 10px;
  text-align: center;
}

th {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

td {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

img {
  width: 40%;
}

hr {
  display: block;
  margin: 0 auto;
  width: 85%;
  padding: 1px;
  background-color: #ffffff;
  opacity: 0.5;
}

#time {
  text-align: center;
  font-weight: 100;
}

#city {
  text-align: center;
  font-weight: 200;
  font-size: 40px;
  margin: 0;
  text-transform: capitalize;
  font-family: "Comfortaa", cursive;
}

#temp {
  text-align: right;
  margin: 0;
  margin-right: 30px;
}

#current-location {
  margin-top: 10px;
}

.btn#current-location {
  line-height: 1.6;
  background-color: #00bcf2;
  border: 1px solid #00bcf2;
  color: #fff;
  padding: 6px 15px;
  vertical-align: 0;
}
.btn#current-location:hover {
  background-color: #fff;
  border: #fff;
  color: #00bcf2;
  transition: 1ms ease-in-out;
}

#madeby {
  text-align: center;
  font-weight: lighter;
  font-size: 10px;
  color: #00bef2a4;
  margin-top: 5px;
  margin-bottom: 5px;
}
